* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;
  --content-primary: #111827;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
  --background-primary: #f4f5fb;
  --background-secondary: #fff;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  place-items: center;
  background-color: var(--background-primary);
}

main {
  max-width: 352px;
  padding: 3.4rem 3.2rem;

  & .back {
    color: var(--color-brand);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 114.286%;

    margin-bottom: 1.6rem;
  }

  & h1 {
    color: var(--content-primary);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;

    margin-bottom: 4.4rem;
  }

  & input#new-item {
    display: block;
    width: 100%;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    /* color: var(--content-tertiary); */

    padding: 1rem 1.8rem;

    border-radius: 1.2rem;
    border: 2px solid var(--border-primary);
    outline: none;

    &::placeholder {
      color: var(--content-tertiary);
    }

    &:focus {
      border: 2px solid var(--color-brand);
      color: var(--content-primary);
    }

    &:hover {
      border: 2px solid var(--border-hover);
    }
  }

  button {
    background-color: var(--color-brand);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    color: white;

    border: none;
    border-radius: 1.2rem;
    padding: 1rem 2.4rem;
    margin-bottom: 4rem;
    width: 100%;

    cursor: pointer;

    &:hover {
      background-color: var(--color-brand-hover);
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.2rem;

  & li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 1.2rem;

    background-color: white;

    & img {
      cursor: pointer;
    }
  }
}

.select-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.8rem;
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkmark {
    width: 1.6rem;
    height: 1.6rem;

    background-image: url(./assets/checkbox-default.svg);
  }

  &:hover,
  &:focus-within {
    .checkmark {
      background-image: url(./assets/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkmark {
    background-image: url(./assets/checkbox-selected.svg);
  }
}

.item-removed {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  gap: 0.8rem;
  margin-top: 3.6rem;
  border-radius: 12px;
  background: var(--color-danger);



  & p {
    width: 100%;
    color: white;
    

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  & :last-child{
    cursor: pointer;
  }
}

.show-alert {
  display: none;
}

.desktop-only {
  display: none;
}




@media screen 
and (width >= 64em) {
  header{
    margin-top: 2.5rem;
  }
  

  main{
    min-width: 627px;

    padding: 6.2rem 3.2rem;
    place-self: center;

  }

  .desktop-only {
    display: flex;
  }
  
}